Flask>=1.1.0
gunicorn>=19.8.9
Jinja2>=2.11.2
MarkupSafe>=1.1.0
Werkzeug>=0.15.4
numpy>=1.9.1
scipy>=0.15.0
nltk>=3.4
scikit-learn>=0.17
pandas>=0.18
beautifulsoup4>=4.9.0
jsonschema>=3.1.9
tmdbv3api>=1.6.0
lxml>=4.6.1
urllib3>=1.26.4
requests>=2.22.9
pickleshare>=0.7.4
